.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gmail-signature-generator {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input[type=text] {
    transition-duration: 0.2s;
}

input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid blue !important;
}

.logo {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.logo img {
    width: 40px;
    display: block;
}

@media only screen and (max-width: 767px) {
    .page {
        display: block;
        border: none;
    }
    .gmail-signature-generator {
        box-shadow: none;
    }
}